Source: qxmpp
Section: user/other
Priority: optional
Maintainer: Bernd Stramm <bernd.stramm@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libqt4-network
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: qxmpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: qxmpp
